@{
    ViewBag.Title = "Home Page";
}


<div class="hero hero-slider" id="site-content">
    <ul class="slides parallax">
        <li data-bg-image="/Content/Images/slider-1.jpg">
            <div class="container">
                <div class="imgsl"></div>
                <h3 class="slider-subtitle">Your header goes here</h3>
                <h2 class="slider-title">Professional</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa molestiae necessitatibus possimus ducimus facere, error, nostrum. Quos sapiente ducimus maxime odio alias dolor consequuntur, maiores commodi exercitationem veniam. Id, ex?</p>
                <a href="#" class="button large">Read more</a>
            </div>
        </li>
        <li data-bg-image="/Content/Images/slider-2.jpg">
            <div class="container">
                <h3 class="slider-subtitle">Your header goes here</h3>
                <h2 class="slider-title">Professional</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In maiores illo eligendi obcaecati reiciendis, vel perspiciatis aliquid esse architecto deleniti asperiores, laboriosam nemo rerum! Ipsam numquam delectus minus iure sit!</p>
                <a href="#" class="button large">Read more</a>
            </div>
        </li>
        <li data-bg-image="/Content/Images/slider-3.jpg">
            <div class="container">
                <h3 class="slider-subtitle">Your header goes here</h3>
                <h2 class="slider-title">Professional</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iure, alias error suscipit porro quidem minus, autem repellendus rerum labore corrupti! Quia quas, architecto, quis non pariatur quisquam nisi magnam.</p>
                <a href="#" class="button large">Read more</a>
            </div>
        </li>
    </ul>
</div>

<main class="main-content">
    @*==================================================Testimonial===================================================================================*@
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <!--  ////////////////////////////////////////////////////////  -->
                    <div class="testimonial-item equal-height style-6" style="height: 254px;">
                        <div class="testimonial-image cell-left">
                            <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Rose">
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">
                                Rose
                            </div>
                            <div class="testimonial-job">
                                Gardener
                            </div>
                        </div>
                        <div class="testimonial-content quote">
                            <i class="fa fa-quote-left">
                            </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose.
                        </div>
                    </div>
                    <!--  ////////////////////////////////////////////////////////  -->
                    <div class="testimonial-item equal-height style-6" style="height: 254px;">
                        <div class="testimonial-image cell-left">
                            <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Rose">
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">
                                Rose
                            </div>
                            <div class="testimonial-job">
                                Gardener
                            </div>
                        </div>
                        <div class="testimonial-content quote">
                            <i class="fa fa-quote-left">
                            </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose.
                        </div>
                    </div>
                    <!--  ////////////////////////////////////////////////////////  -->
                    <div class="testimonial-item equal-height style-6" style="height: 254px;">
                        <div class="testimonial-image cell-left">
                            <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Rose">
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">
                                Rose
                            </div>
                            <div class="testimonial-job">
                                Gardener
                            </div>
                        </div>
                        <div class="testimonial-content quote">
                            <i class="fa fa-quote-left">
                            </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose.
                        </div>
                    </div>
                    <!--  ////////////////////////////////////////////////////////  -->
                    <div class="testimonial-item equal-height style-6" style="height: 254px;">
                        <div class="testimonial-image cell-left">
                            <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Rose">
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">
                                Rose
                            </div>
                            <div class="testimonial-job">
                                Gardener
                            </div>
                        </div>
                        <div class="testimonial-content quote">
                            <i class="fa fa-quote-left">
                            </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose.
                        </div>
                    </div>
                    <!--  ////////////////////////////////////////////////////////  -->
                    <div class="testimonial-item equal-height style-6" style="height: 254px;">
                        <div class="testimonial-image cell-left">
                            <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Rose">
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">
                                Rose
                            </div>
                            <div class="testimonial-job">
                                Gardener
                            </div>
                        </div>
                        <div class="testimonial-content quote">
                            <i class="fa fa-quote-left">
                            </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose.
                        </div>
                    </div>
                    <!--  ////////////////////////////////////////////////////////  -->
                    <div class="testimonial-item equal-height style-6" style="height: 254px;">
                        <div class="testimonial-image cell-left">
                            <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Rose">
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">
                                Rose
                            </div>
                            <div class="testimonial-job">
                                Gardener
                            </div>
                        </div>
                        <div class="testimonial-content quote">
                            <i class="fa fa-quote-left">
                            </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose.
                        </div>
                    </div>
                    <!--  ////////////////////////////////////////////////////////  -->
                    <div class="testimonial-item equal-height style-6" style="height: 254px;">
                        <div class="testimonial-image cell-left">
                            <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Rose">
                        </div>
                        <div class="cell-right">
                            <div class="testimonial-name">
                                Rose
                            </div>
                            <div class="testimonial-job">
                                Gardener
                            </div>
                        </div>
                        <div class="testimonial-content quote">
                            <i class="fa fa-quote-left">
                            </i>This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose.
                        </div>
                    </div>
                    <!--  ////////////////////////////////////////////////////////  -->
                </div>
            </div>
        </div>
    </div>
    @*==================================================Testimonial End===================================================================================*@
@*==================================================Social Media Feeds===================================================================================*@
<div class="d-flex justify-content-center align-items-center m-0 p-0">
    <div class="card1">
        <div class="top">
            <div class="userDetails">
                <div class="profile_img">
                    <img src="~/Content/Images/slider-1.jpg" class="cover" />
                </div>
                <h3>Our Customers</h3>
            </div>
            <div>
                <img src="~/Content/Images/large-gallery/smlimgs/icon-1.png" class="dot" />
            </div>
        </div>
        <div class="imgBx">
            <img src="~/Content/Images/large-gallery/smlimgs/icon-1.png" class="cover" />
        </div>
        <div class="actionBtns">
            <div class="Left">
                <img src="~/Content/Images/large-gallery/smlimgs/icon-1.png" class="heart" />
                <img src="~/Content/Images/large-gallery/smlimgs/icon-1.png" />
                <img src="~/Content/Images/large-gallery/smlimgs/icon-1.png" />
            </div>
            <div class="right">
                <img src="~/Content/Images/large-gallery/smlimgs/icon-1.png" />
            </div>
        </div>
        <h4 class="likes">444 Likes</h4>
        <div class="col-4">
            <h4 class="message"><b>asdasdasd</b>asdasdasdsad<span>gasgadsgads</span><span>asdgasdgsda</span><span>asdgasdgsdg</span></h4>
        </div>
        <h4 class="comments">asddasdasd</h4>
        <div class="addComments">
            <div class="userImg">
                <img src="~/Content/Images/large-gallery/smlimgs/icon-1.png" class="cover" />
            </div>
            <input type="text" class="text" placeholder="Add a comment...." />
        </div>
        <h5 class="postTime">sfasfas</h5>
    </div>
</div>
    
 

    @*==================================================Social Media End===================================================================================*@
    <!-- start count stats -->

    <section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 stats">
                    <i class="fa fa-code" aria-hidden="true"></i>
                    <div class="counting" data-count="17">0</div>
                    <h5>Beauty Styles</h5>
                </div>

                <div class="col-lg-3 stats">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <div class="counting" data-count="52">0</div>
                    <h5>Hair Cutting</h5>
                </div>

                <div class="col-lg-3 stats">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="counting" data-count="44">0</div>
                    <h5>Make Up</h5>
                </div>

                <div class="col-lg-3 stats">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                    <div class="counting" data-count="55">0</div>
                    <h5>Hair Coloring</h5>
                </div>

            </div>
            <!-- end row -->
        </div>
        <!-- end container -->

    </section>

    <!-- end cont stats -->

    <div class="fullwidth-block features-section">
        <div class="container">
            <h2 class="section-title">our Services</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="feature">
                        <img src="~/Content/Images/large-gallery/smlimgs/icon-1.png" class="feature-image">
                        <h3 class="feature-title">Voluptatem</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolor perferendis blanditiis voluptate maiores </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <img src="/Content/Images/large-gallery/smlimgs/icon-2.png" class="feature-image">
                        <h3 class="feature-title">COnsequatur</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, minus, totam. Officia ea accusamus quis tenetur quas </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <img src="/Content/Images/large-gallery/smlimgs/icon-3.png" class="feature-image">
                        <h3 class="feature-title">Temporibus</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, omnis cum, quo dolorem molestias asperiores doloremque dolorum</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <img src="/Content/Images/large-gallery/smlimgs/icon-4.png" class="feature-image">
                        <h3 class="feature-title">Perferendis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, facere numquam porro amet reiciendis maiores odio velit</p>
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .fullwidth-block.features-section -->

    <div class="fullwidth-block team-section">
        <div class="container">
            <h2 class="section-title">Our team</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="team">
                        <figure class="team-image"><img src="dummy/person-1.jpg"></figure>
                        <h3 class="team-name">Sarah james</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nihil distinctio natus doloremque id tempore repellendus atque</p>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team">
                        <figure class="team-image"><img src="dummy/person-2.jpg"></figure>
                        <h3 class="team-name">Marta Smith</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta iste natus voluptatum eius? Vitae accusantium, deserunt maiores incidunt</p>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team">
                        <figure class="team-image"><img src="dummy/person-3.jpg"></figure>
                        <h3 class="team-name">Nicole Johnson</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur aut, laboriosam iure, quisquam reiciendis voluptas.</p>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team">
                        <figure class="team-image"><img src="dummy/person-4.jpg"></figure>
                        <h3 class="team-name">Alicia Brown</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla itaque veritatis amet unde aliquid, non tenetur doloremque</p>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .fullwidth-block.team-section -->

    <div class="fullwidth-block information-section">
        <div class="container">
            <h2 class="section-title">Information</h2>
            <div class="row">
                <div class="col-md-4">
                    <figure><img src="dummy/figure-1.jpg"></figure>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque omnis minima accusamus nihil eligendi quas cumque rerum odit quo architecto repudiandae adipisci repellendus velit nostrum sed quisquam doloribus, consequatur sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque omnis minima accusamus nihil eligendi quas cumque rerum odit quo architecto repudiandae adipisci repellendus velit nostrum sed quisquam doloribus, consequatur sint.</p>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odit, blanditiis aliquam officia soluta modi amet ex nihil nulla minima. Nam earum est magnam tempore corrupti quos consequatur, numquam voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque omnis minima accusamus nihil eligendi quas cumque rerum odit quo architecto repudiandae adipisci repellendus velit nostrum sed quisquam doloribus, consequatur sint.</p>
                </div>
            </div>
        </div>
    </div> <!-- .fullwidth-block.information-section -->
</main>
<script type="text/javascript">
	// number count for stats, using jQuery animate

	$(".counting").each(function () {
		var $this = $(this),
		countTo = $this.attr("data-count");

		$({ countNum: $this.text() }).animate(
		{
			countNum: countTo
		},

		{
			duration: 3000,
			easing: "linear",
			step: function () {
				$this.text(Math.floor(this.countNum));
			},
			complete: function () {
				$this.text(this.countNum);
				//alert('finished');
			}
		}
		);
	});

    @*==================================================Testimonial ===================================================================================*@
    $(document).ready(function () {
        $("#testimonial-slider").owlCarousel({
            items: 2,
            itemsDesktop: [1000, 2],
            itemsDesktopSmall: [980, 1],
            itemsTablet: [768, 1],
            pagination: true,
            navigation: true,
            navigationText: ["<", ">"],
            autoPlay: true
        });
    });



    @*==================================================Testimonial End===================================================================================*@

</script>
